**/*.o
**/*.os
**/*.so
**/*.dll
**/*.import
**/*~
**/*~~
**/*~~~
.vscode/
main.cpp
godot-cpp/
neural
example/xor_GA
example/xor_GD
example_godot/car
example_godot/cubes
example_godot/flappy_bird_old
example_godot/xor
example_godot/.import
example_godot/flappy_bird/lib/libgnn.so
